*.log
.DS_Store
.env
.env.*
!.env.example
/auth.json
/node_modules
/vendor
/public/storage
/database/*.sqlite*
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
.phpunit.cache
/.phpunit.result.cache
/image-search
/public/uploads/*
!/public/uploads/.gitignore
